* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 12px 48px;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.click {
  cursor: pointer;
}
.no__cursor{
  cursor: not-allowed;
}

body {
  background-color: #242424
}
.welcome .movies__wrapper {
  visibility: hidden;
}

/* 

NAVIGATION

*/

.logo {
    width: 100%;
    height: 100px;
  animation: animate-logo 800ms 200ms backwards;
  filter: invert();
}
.nav__logo--img{
    width: 100%;
    height: 100%;
}
.nav__container {
  padding: 12px 0;
}
.nav__row {
  width: 100%;
  margin: 0 auto;
}

@keyframes pan {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(50px);
  }
}

@keyframes animate-logo {
    0% {
      transform: scale(0);
    }
    80% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
}

/* 

SEARCH

*/

.search__results{
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
}
.input {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  /* background-color: #242424; */
}

.search__area{
  position: relative;
}

.input__search {
  font-size: 36px;
  width: 100%;
  outline: none;
  /* border: none; */
  border-radius: 36px;
  padding: 12px;
  /* background-color: #242424; */
  /* color: white; */
}
.fa__search {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
}
.results{
    color: white;
}
.sort__option{
  border: none;
  border-radius: 8px;
  text-align: center;
  padding: 6px;
  font-size: 20px;
}

/* 

MOVIES 

*/

.search .movie{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    animation: animate-movie 800ms 200ms backwards;

}
@keyframes animate-movie {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.movies__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.movie__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px 0px rgba(0, 0, 0, 0.5);
  transition: all 300ms;
}
.movie:hover .movie__img--wrapper {
  transform: scale(1.05);
}
.movie__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 0 12px 0;
    transition: all 300ms;
    color: white;
}

.movie:hover .movie__description {
    transform: translateY(12px);
}


.movie__title{

    font-size: 24px;
}
.movie__img {
  width: 100%;
}
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  margin: 0 auto;
  padding: 12px 24px;
}
.imdb {
  background-color: yellow;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 12px;
  color: #242424;
  border: 2px solid #242424;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  max-width: 100px;
  text-align: center;
}


/* 

ERROR STATE

*/

.error .error__container {
    display: flex;
    transition: all 450ms;
}

.error__container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(199, 37, 37);
    border: none;
    border-radius: 50px;
    color: white;


}

.error__btn{
    position: absolute;
    bottom: 20px;
    width: 100%;
    max-width: 100px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    background-color: #242424;
    color: white;
}

.error__title{
    font-size: 72px;
    margin-bottom: 72px;
}

.error__description{
    margin-top: 24px;
    width: 100%;
    max-width: 600px;
    font-size: 32px;
    text-align: center;
}
.fa-times{
    font-size: 40px;
    color: white;
    position: absolute;
    top: 20px;
    right: 40px;
}

.error #movies{
    display: none;
}
.error #search{
    display: none;
}
.error .footer{
    display: none;
}





/* 

FOOTER

*/

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 36px;
}
.footer__img--wrapper{
  width: 100%;
  max-width: 100px;
}
.footer__img{
    display: flex;
    justify-content: center;
    filter: invert();

    width: 100%;
}

.welcome .footer{
    position: absolute;
    bottom: 0;
}

.footer__links{
  margin-top: 24px;
}
.footer__link{
  position: relative;
  color: white;
  text-decoration: none;
  margin: 0 16px;
}





.link__hover--effect{
  position: relative;
}
.link__hover--effect::after{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -3px;
  right: 0;
  background-color: white;
  transition: all 300ms ease-in-out ;
}
.link__hover--effect:hover::after{
  left: 0;
  width: 100%;
  
}



@media (max-width: 768px){
  .movie{
    width: calc(100% / 2);
  }
  .input__search {
    font-size: 24px;
    width: 100%;
    max-width: 400px;
  }

  
  
}
@media (max-width: 480px){
  .movie{
    width: 100%;
  }
  .input__search{
    font-size: 20px;
  }
  .sort__option{
    border-radius: 6px;
    padding: 4px;
    font-size: 16px;
  }
}